In [1]:
import DataDealer as dd

tHead = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
         'martial-status', 'occupation', 'relationship', 'race', 'sex', 
         'capital-gain', 'capital-loss', 'hours-per-week', 'income']
training_set = dd.read_data('./adult/adult.data', tHead, 
                           paraNumeric=[0, 2, 4, 10, 11, 12], 
                           paraRemove=[-2])
evaluation_set = dd.read_data('./adult/adult.test', tHead, 
                             paraNumeric=[0, 2, 4, 10, 11, 12], 
                             paraRemove=[-2])

print(f"---------------------train-{len(training_set)}")
print(f"---------------------evalu-{len(evaluation_set)}")

---------------------train-30162
---------------------evalu-15060

In [2]:
set([e['income'] for e in training_set])

{'<=50K', '>50K'}

In [3]:
len(training_set[0])-1

13

In [4]:
freq = dd.count_frequencies(training_set)
for attr in freq:
  print(attr, end="\t")
  print(len(freq[attr]))

age	72
workclass	7
fnlwgt	20263
education	16
education-num	16
martial-status	7
occupation	14
relationship	6
race	5
sex	2
capital-gain	118
capital-loss	90
hours-per-week	94
income	2

In [5]:
dd.get_sorted_list(freq, 'income')[0][0]

AttributeError: module 'DataDealer' has no attribute 'get_sorted_list'

In [6]:
import copy
freq = dd.count_frequencies(training_set)
freq

{'age': {39: 786,
  50: 575,
  38: 791,
  53: 448,
  28: 808,
  37: 828,
  49: 555,
  52: 455,
  31: 851,
  42: 741,
  30: 813,
  23: 824,
  32: 789,
  34: 836,
  25: 799,
  43: 743,
  40: 765,
  54: 394,
  35: 828,
  59: 332,
  56: 343,
  19: 594,
  20: 629,
  45: 706,
  22: 674,
  48: 523,
  21: 621,
  24: 752,
  57: 337,
  44: 704,
  41: 769,
  29: 774,
  47: 683,
  46: 711,
  36: 852,
  79: 15,
  27: 789,
  18: 447,
  33: 837,
  76: 29,
  55: 386,
  61: 259,
  70: 64,
  64: 173,
  71: 54,
  66: 110,
  51: 571,
  58: 344,
  26: 745,
  17: 328,
  60: 276,
  90: 35,
  75: 34,
  65: 136,
  77: 20,
  62: 213,
  63: 186,
  67: 111,
  74: 38,
  72: 40,
  69: 80,
  68: 90,
  73: 49,
  81: 13,
  78: 14,
  88: 3,
  80: 16,
  84: 8,
  83: 5,
  85: 3,
  82: 7,
  86: 1},
 'workclass': {'State-gov': 1279,
  'Self-emp-not-inc': 2499,
  'Private': 22286,
  'Federal-gov': 943,
  'Local-gov': 2067,
  'Self-emp-inc': 1074,
  'Without-pay': 14},
 'fnlwgt': {77516: 1,
  83311: 2,
  215646: 1,
  234721: 1,
  338409: 1,
  284582: 1,
  160187: 4,
  209642: 1,
  45781: 2,
  159449: 3,
  280464: 1,
  141297: 2,
  122272: 6,
  205019: 1,
  245487: 3,
  176756: 5,
  186824: 5,
  28887: 2,
  292175: 1,
  193524: 6,
  302146: 2,
  76845: 2,
  117037: 1,
  109015: 6,
  216851: 3,
  168294: 2,
  367260: 1,
  193366: 2,
  190709: 2,
  266015: 1,
  386940: 1,
  59951: 1,
  311512: 1,
  242406: 1,
  197200: 2,
  544091: 1,
  265477: 1,
  507875: 1,
  88506: 1,
  172987: 1,
  94638: 1,
  289980: 2,
  337895: 1,
  144361: 4,
  128354: 3,
  101603: 1,
  271466: 2,
  32275: 1,
  51835: 1,
  251585: 1,
  109832: 2,
  237993: 1,
  216666: 2,
  56352: 1,
  147372: 2,
  188146: 1,
  59496: 4,
  149640: 6,
  116632: 7,
  105598: 2,
  155537: 1,
  183175: 1,
  169846: 1,
  191681: 1,
  101509: 2,
  309974: 2,
  162298: 2,
  211678: 3,
  124744: 1,
  213921: 1,
  32214: 1,
  309634: 1,
  125927: 1,
  446839: 1,
  276515: 2,
  51618: 1,
  159937: 1,
  343591: 1,
  346253: 1,
  268234: 4,
  202051: 2,
  54334: 1,
  410867: 1,
  249977: 1,
  286730: 1,
  212563: 1,
  226296: 4,
  115585: 2,
  191277: 6,
  202683: 3,
  171095: 3,
  249409: 1,
  124191: 1,
  198282: 2,
  149116: 1,
  188300: 2,
  103432: 1,
  317660: 1,
  194901: 9,
  189265: 3,
  124692: 7,
  432376: 1,
  65324: 2,
  335605: 1,
  377869: 1,
  102864: 1,
  95647: 2,
  303090: 1,
  197371: 1,
  247552: 2,
  102632: 2,
  199915: 3,
  118853: 3,
  77143: 2,
  267989: 3,
  301606: 1,
  287828: 1,
  111697: 1,
  114937: 3,
  365739: 3,
  69621: 1,
  43323: 1,
  120985: 2,
  254202: 2,
  146195: 1,
  125933: 9,
  56920: 1,
  163127: 1,
  34310: 3,
  81973: 3,
  66614: 1,
  232782: 2,
  316868: 1,
  196584: 1,
  105376: 1,
  185814: 1,
  175374: 2,
  108293: 6,
  181232: 1,
  186009: 3,
  198183: 4,
  163003: 7,
  296158: 3,
  187715: 2,
  214542: 9,
  494223: 1,
  191535: 1,
  228456: 1,
  252752: 6,
  78374: 1,
  88419: 1,
  201080: 2,
  207157: 1,
  235485: 1,
  102628: 3,
  25828: 1,
  54826: 1,
  124953: 3,
  175325: 1,
  96062: 7,
  428030: 1,
  149624: 2,
  253814: 5,
  312956: 1,
  483777: 1,
  183930: 1,
  37274: 2,
  181344: 1,
  114580: 4,
  633742: 1,
  286370: 1,
  29054: 3,
  304030: 1,
  143129: 1,
  99928: 1,
  109567: 1,
  155222: 1,
  159567: 2,
  523910: 1,
  120939: 3,
  130760: 3,
  197387: 6,
  99374: 2,
  56795: 2,
  138992: 1,
  32921: 3,
  397317: 2,
  259323: 4,
  254817: 2,
  48211: 1,
  140164: 1,
  128757: 1,
  36270: 3,
  210563: 1,
  65368: 1,
  160943: 2,
  208358: 6,
  153790: 2,
  85815: 1,
  125417: 4,
  635913: 1,
  313321: 1,
  182609: 1,
  109434: 1,
  255004: 5,
  197860: 2,
  51744: 3,
  176681: 1,
  140359: 2,
  243313: 1,
  167687: 1,
  314209: 1,
  176796: 2,
  538583: 1,
  130408: 1,
  159732: 5,
  110978: 3,
  76714: 1,
  268700: 1,
  170525: 2,
  180138: 3,
  115076: 2,
  115458: 1,
  347890: 1,
  196001: 2,
  273905: 1,
  179488: 4,
  236596: 2,
  183916: 1,
  207578: 5,
  112763: 4,
  390781: 2,
  171328: 3,
  27382: 1,
  259014: 1,
  303044: 1,
  117789: 6,
  172579: 2,
  187666: 1,
  204518: 1,
  150042: 3,
  98092: 2,
  245918: 1,
  146013: 1,
  378322: 2,
  257295: 2,
  21174: 1,
  185480: 2,
  222205: 2,
  69867: 3,
  191260: 2,
  30653: 1,
  209109: 2,
  70377: 2,
  477983: 1,
  170924: 3,
  190174: 2,
  193787: 2,
  279472: 1,
  34918: 3,
  97688: 3,
  175413: 2,
  173960: 1,
  205759: 2,
  425161: 1,
  220531: 2,
  176609: 1,
  371987: 2,
  193884: 1,
  200352: 1,
  127595: 1,
  220419: 1,
  231931: 1,
  248402: 1,
  111095: 2,
  57424: 2,
  278130: 4,
  169469: 2,
  146268: 3,
  153718: 1,
  217460: 7,
  238638: 2,
  303296: 1,
  173321: 2,
  193945: 1,
  83082: 1,
  193815: 5,
  34987: 3,
  59306: 1,
  142897: 2,
  205607: 1,
  199698: 2,
  191954: 2,
  138714: 2,
  399087: 1,
  423158: 1,
  159841: 1,
  174308: 4,
  50356: 2,
  186110: 2,
  200381: 1,
  174309: 1,
  78383: 1,
  187728: 1,
  321171: 1,
  127921: 3,
  206565: 1,
  224563: 1,
  178686: 3,
  98545: 1,
  242606: 2,
  270942: 2,
  94235: 5,
  71195: 1,
  104112: 1,
  261192: 1,
  94936: 1,
  296478: 2,
  119272: 3,
  85043: 1,
  293364: 1,
  241895: 6,
  101128: 1,
  156464: 6,
  117963: 9,
  192262: 2,
  111363: 4,
  329752: 1,
  95432: 1,
  161400: 1,
  96129: 3,
  111949: 2,
  117125: 1,
  348022: 1,
  270092: 1,
  180609: 3,
  174575: 6,
  410439: 4,
  92262: 3,
  183081: 2,
  362589: 2,
  212448: 3,
  481060: 1,
  185885: 1,
  89821: 1,
  184018: 3,
  256649: 1,
  160323: 1,
  350845: 1,
  267404: 1,
  35633: 3,
  80914: 3,
  172927: 1,
  174319: 1,
  214955: 2,
  344991: 1,
  108699: 3,
  117312: 3,
  396099: 1,
  134152: 2,
  162028: 2,
  25429: 3,
  232392: 1,
  220098: 2,
  301302: 1,
  277946: 2,
  196164: 1,
  115562: 4,
  96975: 1,
  86872: 3,
  132178: 1,
  416103: 1,
  108574: 3,
  288353: 2,
  227689: 1,
  166481: 1,
  445382: 4,
  110145: 1,
  317253: 1,
  364657: 2,
  42346: 2,
  241951: 4,
  118500: 3,
  188386: 4,
  1033222: 2,
  92440: 1,
  190762: 3,
  426017: 1,
  243867: 1,
  240283: 2,
  61777: 2,
  175024: 1,
  92003: 1,
  188401: 1,
  228528: 1,
  133373: 4,
  255191: 3,
  204653: 2,
  222289: 1,
  287480: 3,
  204116: 1,
  29662: 2,
  116358: 5,
  208405: 1,
  284843: 1,
  117018: 1,
  81281: 1,
  340148: 2,
  363425: 1,
  45857: 3,
  191073: 1,
  405855: 1,
  298227: 2,
  290521: 1,
  56915: 1,
  146538: 2,
  206399: 2,
  197332: 5,
  245062: 1,
  234885: 1,
  72887: 5,
  180374: 1,
  351299: 1,
  54012: 2,
  288825: 3,
  132601: 8,
  193374: 4,
  170070: 5,
  126708: 1,
  35598: 1,
  33983: 3,
  192776: 3,
  118551: 7,
  201965: 2,
  285020: 2,
  303990: 1,
  49401: 1,
  279196: 1,
  211870: 1,
  281432: 1,
  161155: 3,
  197904: 1,
  111746: 3,
  170721: 2,
  70100: 2,
  193626: 2,
  189775: 2,
  286967: 2,
  164427: 2,
  91039: 2,
  347934: 2,
  371373: 1,
  32220: 1,
  187251: 1,
  178107: 1,
  343121: 1,
  262749: 2,
  403107: 1,
  64293: 1,
  324960: 2,
  114060: 3,
  48925: 1,
  180980: 1,
  181054: 1,
  388093: 1,
  249609: 1,
  112131: 1,
  543162: 1,
  91996: 1,
  141944: 3,
  37070: 2,
  337587: 1,
  189346: 4,
  267044: 1,
  108116: 3,
  99146: 7,
  196232: 1,
  248344: 2,
  186035: 6,
  177905: 5,
  85812: 1,
  221172: 9,
  99183: 1,
  190387: 2,
  202692: 1,
  109339: 1,
  108658: 3,
  197202: 1,
  101739: 1,
  231559: 1,
  207853: 2,
  190942: 1,
  102345: 2,
  41493: 2,
  210525: 4,
  133937: 4,
  237903: 2,
  163862: 3,
  201872: 1,
  84179: 1,
  51662: 2,
  233327: 1,
  259510: 2,
  184831: 2,
  245724: 1,
  27053: 1,
  205343: 1,
  229328: 1,
  319560: 1,
  136218: 2,
  54576: 1,
  148291: 1,
  152453: 2,
  114053: 2,
  212960: 1,
  264052: 3,
  82804: 1,
  334273: 5,
  27337: 1,
  188436: 6,
  433665: 1,
  110663: 1,
  87490: 1,
  354351: 1,
  95469: 3,
  242718: 1,
  22463: 2,
  158156: 2,
  350162: 1,
  28738: 1,
  283635: 4,
  86646: 1,
  69884: 2,
  199713: 4,
  181659: 3,
  340939: 1,
  197747: 1,
  34292: 2,
  156764: 1,
  25826: 1,
  103948: 4,
  39352: 1,
  168387: 4,
  267147: 1,
  214242: 5,
  200408: 2,
  136455: 1,
  239824: 1,
  217039: 1,
  51290: 2,
  175674: 5,
  194404: 2,
  45612: 1,
  410114: 1,
  182521: 1,
  339772: 2,
  169658: 1,
  200853: 1,
  247564: 2,
  249909: 1,
  208122: 3,
  109881: 1,
  207824: 1,
  369027: 1,
  114117: 1,
  51048: 2,
  102388: 1,
  190483: 2,
  462440: 1,
  109351: 2,
  34383: 1,
  241832: 1,
  124187: 4,
  153614: 1,
  267556: 2,
  205469: 1,
  268090: 1,
  165039: 1,
  120451: 1,
  154374: 8,
  103649: 2,
  35723: 3,
  262601: 1,
  226181: 1,
  175697: 2,
  248145: 1,
  289436: 2,
  75654: 1,
  199378: 3,
  160968: 3,
  188563: 3,
  55849: 2,
  195322: 1,
  402089: 2,
  78277: 1,
  169496: 4,
  130959: 1,
  556660: 1,
  292472: 4,
  143774: 2,
  288341: 1,
  71592: 1,
  106742: 3,
  219288: 2,
  174524: 1,
  335183: 1,
  261293: 1,
  111900: 3,
  194360: 4,
  81145: 3,
  341204: 4,
  249362: 2,
  247019: 1,
  172146: 1,
  110457: 4,
  368700: 2,
  182556: 3,
  219420: 2,
  240817: 1,
  102726: 1,
  226267: 4,
  125457: 2,
  204021: 2,
  161141: 8,
  190290: 10,
  430828: 1,
  59342: 1,
  136721: 2,
  86644: 1,
  195124: 3,
  167350: 4,
  113000: 1,
  140027: 2,
  262425: 1,
  316702: 1,
  335453: 2,
  203628: 2,
  118710: 3,
  189620: 2,
  475028: 1,
  110866: 1,
  243605: 1,
  163870: 6,
  80145: 2,
  295566: 1,
  63042: 2,
  229148: 3,
  242552: 3,
  177665: 1,
  208103: 1,
  296450: 1,
  70282: 2,
  144995: 3,
  382635: 1,
  295697: 1,
  194141: 4,
  378418: 1,
  214399: 2,
  125831: 2,
  271328: 2,
  50459: 1,
  162140: 2,
  111502: 1,
  299047: 1,
  223212: 6,
  352139: 2,
  173093: 2,
  181655: 1,
  332702: 1,
  234901: 5,
  131414: 1,
  260960: 2,
  156052: 1,
  279914: 2,
  192453: 1,
  200939: 1,
  151408: 2,
  112847: 8,
  316929: 1,
  126319: 1,
  197422: 1,
  267736: 1,
  267034: 1,
  193047: 4,
  356089: 2,
  223515: 4,
  87510: 2,
  145111: 2,
  48093: 4,
  31757: 1,
  285854: 1,
  120064: 1,
  167381: 1,
  103408: 2,
  101460: 1,
  420537: 1,
  119411: 4,
  128272: 4,
  386773: 2,
  283268: 2,
  301526: 1,
  151790: 3,
  106252: 2,
  188557: 1,
  171114: 4,
  327323: 1,
  244147: 3,
  280282: 1,
  116442: 2,
  282579: 2,
  51838: 2,
  226902: 5,
  279129: 4,
  196690: 2,
  49572: 1,
  237601: 1,
  169628: 2,
  36671: 1,
  231193: 1,
  102102: 2,
  32185: 4,
  211046: 1,
  31577: 2,
  162343: 4,
  128831: 1,
  316688: 1,
  90758: 2,
  274363: 4,
  154538: 1,
  106085: 1,
  315859: 1,
  51471: 2,
  193830: 1,
  231043: 5,
  169879: 1,
  270333: 1,
  138768: 7,
  191571: 1,
  94113: 3,
  137510: 2,
  32607: 1,
  93208: 1,
  254440: 1,
  186556: 1,
  169871: 1,
  167159: 4,
  171871: 1,
  154411: 1,
  129227: 1,
  110331: 2,
  34269: 1,
  174355: 1,
  680390: 2,
  233130: 6,
  165474: 3,
  194259: 4,
  280093: 4,
  177387: 1,
  105304: 1,
  499233: 1,
  180572: 1,
  321435: 2,
  86108: 1,
  198124: 1,
  135162: 2,
  146813: 1,
  291175: 1,
  387569: 1,
  102895: 1,
  33274: 1,
  86551: 5,
  138192: 3,
  118966: 1,
  99784: 1,
  90980: 1,
  177407: 1,
  96467: 1,
  327886: 3,
  111567: 9,
  166545: 1,
  142182: 3,
  188798: 4,
  38563: 1,
  216284: 1,
  191547: 1,
  285335: 3,
  142712: 5,
  80945: 1,
  309055: 2,
  62339: 2,
  176186: 2,
  266855: 1,
  48087: 5,
  121313: 3,
  143437: 1,
  160724: 6,
  282753: 2,
  194636: 7,
  153044: 1,
  411797: 2,
  117683: 3,
  376540: 1,
  72393: 1,
  270335: 1,
  96226: 2,
  95336: 3,
  258498: 2,
  205865: 2,
  406468: 1,
  177119: 2,
  372525: 3,
  164170: 2,
  183800: 5,
  177307: 1,
  170108: 4,
  341995: 2,
  226508: 1,
  87418: 2,
  109165: 2,
  28856: 2,
  175897: 1,
  99697: 1,
  152375: 1,
  171550: 2,
  211154: 3,
  202570: 1,
  168496: 2,
  68898: 3,
  93235: 2,
  278924: 4,
  311020: 2,
  175878: 3,
  543028: 1,
  202027: 8,
  158926: 2,
  76860: 4,
  136063: 1,
  186648: 2,
  257509: 1,
  98155: 4,
  274198: 1,
  97083: 1,
  262153: 2,
  214738: 1,
  138022: 2,
  91842: 2,
  373662: 1,
  162003: 3,
  241843: 1,
  375871: 1,
  186934: 10,
  176900: 1,
  21906: 1,
  132222: 4,
  143653: 2,
  78602: 2,
  465507: 1,
  196373: 2,
  293227: 1,
  241752: 2,
  166398: 1,
  184682: 3,
  250802: 1,
  325159: 2,
  174675: 1,
  227065: 6,
  269080: 1,
  177722: 1,
  133461: 1,
  398473: 1,
  298785: 1,
  123424: 1,
  176286: 2,
  150062: 2,
  169240: 2,
  288273: 2,
  526968: 2,
  57066: 1,
  323573: 1,
  368825: 1,
  189721: 2,
  164966: 1,
  202046: 2,
  161538: 1,
  105252: 4,
  200153: 7,
  178326: 1,
  255957: 1,
  188693: 2,
  182977: 1,
  159929: 2,
  123207: 2,
  284317: 4,
  154474: 1,
  318280: 2,
  254907: 1,
  349221: 1,
  335973: 1,
  126701: 5,
  122159: 1,
  187370: 3,
  124793: 3,
  192835: 5,
  290226: 2,
  112840: 3,
  89325: 1,
  33109: 2,
  82465: 1,
  329980: 7,
  148294: 3,
  168212: 2,
  343642: 1,
  115244: 2,
  162572: 5,
  356067: 2,
  271567: 1,
  180804: 1,
  123011: 12,
  109186: 1,
  220537: 1,
  124827: 5,
  767403: 1,
  118494: 1,
  173208: 1,
  107373: 2,
  26973: 1,
  191965: 2,
  122346: 3,
  198316: 7,
  123075: 5,
  209370: 1,
  33117: 4,
  129042: 1,
  169133: 4,
  368561: 4,
  207848: 1,
  138370: 4,
  93106: 1,
  389713: 3,
  206365: 1,
  123785: 1,
  289984: 1,
  137018: 2,
  137994: 1,
  167005: 3,
  34446: 4,
  187160: 1,
  217961: 5,
  74631: 2,
  156667: 1,
  125155: 3,
  263925: 3,
  296453: 3,
  44728: 1,
  193026: 5,
  87643: 1,
  302122: 1,
  193960: 1,
  185385: 8,
  277647: 3,
  128848: 1,
  377701: 1,
  157886: 2,
  175958: 5,
  223004: 2,
  199352: 1,
  29984: 1,
  181651: 1,
  34029: 1,
  132879: 8,
  215310: 2,
  55863: 1,
  220384: 1,
  36012: 2,
  137645: 2,
  191342: 7,
  31339: 4,
  227910: 1,
  173728: 1,
  167816: 1,
  81642: 1,
  195258: 3,
  232475: 5,
  241259: 1,
  118161: 2,
  201954: 2,
  150533: 8,
  412296: 2,
  133060: 3,
  120539: 3,
  196025: 1,
  107793: 4,
  361280: 3,
  92178: 2,
  260729: 1,
  182254: 2,
  149865: 1,
  218184: 5,
  118619: 1,
  196791: 2,
  ...},
 'education': {'Bachelors': 5044,
  'HS-grad': 9840,
  '11th': 1048,
  'Masters': 1627,
  '9th': 455,
  'Some-college': 6678,
  'Assoc-acdm': 1008,
  '7th-8th': 557,
  'Doctorate': 375,
  'Assoc-voc': 1307,
  'Prof-school': 542,
  '5th-6th': 288,
  '10th': 820,
  'Preschool': 45,
  '12th': 377,
  '1st-4th': 151},
 'education-num': {13: 5044,
  9: 9840,
  7: 1048,
  14: 1627,
  5: 455,
  10: 6678,
  12: 1008,
  4: 557,
  16: 375,
  11: 1307,
  15: 542,
  3: 288,
  6: 820,
  1: 45,
  8: 377,
  2: 151},
 'martial-status': {'Never-married': 9726,
  'Married-civ-spouse': 14065,
  'Divorced': 4214,
  'Married-spouse-absent': 370,
  'Separated': 939,
  'Married-AF-spouse': 21,
  'Widowed': 827},
 'occupation': {'Adm-clerical': 3721,
  'Exec-managerial': 3992,
  'Handlers-cleaners': 1350,
  'Prof-specialty': 4038,
  'Other-service': 3212,
  'Sales': 3584,
  'Transport-moving': 1572,
  'Farming-fishing': 989,
  'Machine-op-inspct': 1966,
  'Tech-support': 912,
  'Craft-repair': 4030,
  'Protective-serv': 644,
  'Armed-Forces': 9,
  'Priv-house-serv': 143},
 'relationship': {'Not-in-family': 7726,
  'Husband': 12463,
  'Wife': 1406,
  'Own-child': 4466,
  'Unmarried': 3212,
  'Other-relative': 889},
 'race': {'White': 25933,
  'Black': 2817,
  'Asian-Pac-Islander': 895,
  'Amer-Indian-Eskimo': 286,
  'Other': 231},
 'sex': {'Male': 20380, 'Female': 9782},
 'capital-gain': {2174: 46,
  0: 27624,
  14084: 39,
  5178: 91,
  5013: 69,
  2407: 18,
  14344: 26,
  15024: 337,
  7688: 270,
  4064: 40,
  4386: 67,
  7298: 240,
  1409: 3,
  3674: 13,
  1055: 21,
  2050: 3,
  2176: 20,
  594: 28,
  20051: 33,
  6849: 26,
  4101: 19,
  8614: 52,
  3411: 21,
  2597: 20,
  25236: 11,
  4650: 40,
  2463: 11,
  3103: 94,
  10605: 9,
  2964: 6,
  3325: 53,
  2580: 12,
  3471: 7,
  4865: 16,
  99999: 148,
  6514: 4,
  1471: 7,
  2329: 4,
  2105: 8,
  2885: 22,
  10520: 43,
  2202: 15,
  2961: 2,
  27828: 32,
  6767: 3,
  2228: 3,
  1506: 14,
  13550: 25,
  2635: 10,
  5556: 4,
  4787: 22,
  3781: 10,
  3137: 36,
  3818: 5,
  914: 8,
  401: 1,
  2829: 30,
  2977: 8,
  4934: 7,
  2062: 2,
  2354: 10,
  3464: 20,
  5455: 11,
  15020: 5,
  1424: 3,
  3273: 6,
  22040: 1,
  4416: 11,
  10566: 6,
  4931: 1,
  7430: 8,
  34095: 3,
  6497: 11,
  3908: 31,
  114: 6,
  2346: 4,
  2907: 10,
  1151: 8,
  9386: 16,
  2414: 6,
  2290: 5,
  3418: 3,
  15831: 6,
  41310: 2,
  4508: 11,
  2538: 1,
  3456: 2,
  1848: 5,
  3887: 6,
  7896: 2,
  5721: 3,
  9562: 4,
  6418: 7,
  1455: 1,
  2036: 4,
  3942: 12,
  1831: 7,
  11678: 2,
  2936: 3,
  2993: 1,
  7443: 5,
  6360: 3,
  4687: 3,
  1797: 5,
  6723: 2,
  2009: 2,
  3432: 2,
  6097: 1,
  1639: 1,
  2653: 4,
  18481: 2,
  25124: 2,
  7978: 1,
  991: 3,
  1173: 1,
  2387: 1,
  5060: 1,
  1086: 1},
 'capital-loss': {0: 28735,
  2042: 9,
  1408: 19,
  1902: 194,
  1887: 155,
  1719: 20,
  1762: 13,
  1564: 24,
  2179: 14,
  1816: 2,
  1980: 23,
  1977: 162,
  1876: 39,
  1340: 7,
  2206: 5,
  1741: 23,
  1485: 45,
  2339: 14,
  2415: 45,
  1380: 7,
  1721: 16,
  2051: 21,
  2377: 17,
  1669: 23,
  2352: 2,
  1672: 34,
  653: 3,
  2392: 8,
  1504: 16,
  1590: 37,
  1651: 9,
  1628: 13,
  1848: 50,
  2001: 21,
  1740: 41,
  2002: 20,
  1579: 20,
  2258: 25,
  1602: 34,
  2547: 4,
  2205: 8,
  1726: 4,
  2444: 12,
  1138: 2,
  2238: 2,
  625: 12,
  213: 4,
  1539: 1,
  880: 6,
  1668: 3,
  1092: 7,
  1594: 8,
  2231: 3,
  1844: 1,
  810: 2,
  2824: 8,
  2559: 12,
  2057: 6,
  1573: 5,
  1974: 18,
  974: 2,
  2174: 6,
  2149: 2,
  1735: 2,
  1258: 3,
  2603: 4,
  2282: 1,
  323: 3,
  2246: 6,
  1617: 9,
  1648: 2,
  1825: 3,
  3770: 2,
  1755: 2,
  3683: 2,
  2129: 2,
  4356: 1,
  2267: 3,
  2080: 1,
  2457: 1,
  419: 1,
  155: 1,
  3900: 2,
  2201: 1,
  1944: 1,
  2467: 1,
  2754: 2,
  2472: 1,
  3004: 1,
  1411: 1},
 'hours-per-week': {40: 14251,
  13: 18,
  16: 180,
  45: 1753,
  50: 2718,
  80: 120,
  30: 989,
  35: 1184,
  60: 1405,
  20: 1054,
  52: 135,
  44: 209,
  15: 346,
  25: 574,
  43: 146,
  38: 456,
  55: 672,
  48: 494,
  58: 27,
  32: 238,
  70: 276,
  22: 39,
  56: 90,
  41: 34,
  28: 72,
  36: 202,
  24: 217,
  46: 80,
  2: 15,
  42: 213,
  12: 137,
  65: 241,
  1: 7,
  34: 27,
  75: 63,
  98: 11,
  33: 37,
  54: 38,
  10: 222,
  6: 40,
  64: 14,
  19: 14,
  18: 63,
  72: 62,
  8: 102,
  9: 17,
  47: 49,
  37: 145,
  21: 23,
  26: 28,
  14: 29,
  5: 38,
  7: 19,
  99: 78,
  53: 22,
  39: 37,
  62: 18,
  59: 4,
  57: 17,
  78: 8,
  90: 28,
  66: 16,
  11: 9,
  49: 26,
  84: 40,
  17: 27,
  68: 12,
  3: 24,
  27: 28,
  85: 13,
  31: 5,
  51: 13,
  77: 6,
  63: 9,
  23: 20,
  4: 27,
  87: 1,
  88: 2,
  73: 2,
  89: 2,
  97: 2,
  94: 1,
  29: 5,
  96: 5,
  67: 4,
  82: 1,
  86: 2,
  91: 3,
  81: 3,
  76: 3,
  92: 1,
  61: 2,
  74: 1,
  95: 2},
 'income': {'<=50K': 22654, '>50K': 7508}}

In [33]:
def get_gini(data, key: str , split: int|str) -> float:
  p_y = 0
  p_n = 0
  if(type(split) is int):
    for i in dd.get_sorted_list_key(data, key):
      if(i[0] < split):
        p_y += i[1]
      else: 
        p_n += i[1]
  elif(type(split) is str):
    for i in dd.get_sorted_list_key(data, key):
      if(i[0] == split):
        p_y += i[1]
      else: 
        p_n += i[1]
  return 1-(p_y/(p_y+p_n))**2-(p_n/(p_y+p_n))**2

In [35]:
get_gini(freq, 'age', 20)

0.08665628961915228

In [36]:
data = dd.get_sorted_list_key(freq, 'age')
p_y = 0
p_n = 0
for i in data:
  print(i)
  if(i[0] < 20): p_y += i[1] 
  else: p_n += i[1]
p_y, p_n, p_y+p_n

(17, 328)
(18, 447)
(19, 594)
(20, 629)
(21, 621)
(22, 674)
(23, 824)
(24, 752)
(25, 799)
(26, 745)
(27, 789)
(28, 808)
(29, 774)
(30, 813)
(31, 851)
(32, 789)
(33, 837)
(34, 836)
(35, 828)
(36, 852)
(37, 828)
(38, 791)
(39, 786)
(40, 765)
(41, 769)
(42, 741)
(43, 743)
(44, 704)
(45, 706)
(46, 711)
(47, 683)
(48, 523)
(49, 555)
(50, 575)
(51, 571)
(52, 455)
(53, 448)
(54, 394)
(55, 386)
(56, 343)
(57, 337)
(58, 344)
(59, 332)
(60, 276)
(61, 259)
(62, 213)
(63, 186)
(64, 173)
(65, 136)
(66, 110)
(67, 111)
(68, 90)
(69, 80)
(70, 64)
(71, 54)
(72, 40)
(73, 49)
(74, 38)
(75, 34)
(76, 29)
(77, 20)
(78, 14)
(79, 15)
(80, 16)
(81, 13)
(82, 7)
(83, 5)
(84, 8)
(85, 3)
(86, 1)
(88, 3)
(90, 35)

(1369, 28793, 30162)

In [39]:
local_freq = dict(freq)
local_freq.pop('income')
local_freq.keys()

dict_keys(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'martial-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week'])

In [42]:
local_freq['age']

{39: 786,
 50: 575,
 38: 791,
 53: 448,
 28: 808,
 37: 828,
 49: 555,
 52: 455,
 31: 851,
 42: 741,
 30: 813,
 23: 824,
 32: 789,
 34: 836,
 25: 799,
 43: 743,
 40: 765,
 54: 394,
 35: 828,
 59: 332,
 56: 343,
 19: 594,
 20: 629,
 45: 706,
 22: 674,
 48: 523,
 21: 621,
 24: 752,
 57: 337,
 44: 704,
 41: 769,
 29: 774,
 47: 683,
 46: 711,
 36: 852,
 79: 15,
 27: 789,
 18: 447,
 33: 837,
 76: 29,
 55: 386,
 61: 259,
 70: 64,
 64: 173,
 71: 54,
 66: 110,
 51: 571,
 58: 344,
 26: 745,
 17: 328,
 60: 276,
 90: 35,
 75: 34,
 65: 136,
 77: 20,
 62: 213,
 63: 186,
 67: 111,
 74: 38,
 72: 40,
 69: 80,
 68: 90,
 73: 49,
 81: 13,
 78: 14,
 88: 3,
 80: 16,
 84: 8,
 83: 5,
 85: 3,
 82: 7,
 86: 1}